player-connection-mode=Listen
player-connection-guid=1042984920
player-connection-debug=0
player-connection-project-name=Lisk of Lahmarama
player-connection-ip=192.168.0.2
player-connection-ip=192.168.80.1
player-connection-ip=192.168.126.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
